/*
=============== 
Fonts
===============
*/

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);

  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
Global Styles
===============
*/

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../img/business.jpg);
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

nav .bi {
  display: none;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  color: white;
}

.nav-links ul li a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--clr-red-dark);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.hero-btn-mobile {
  display: none;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  color: white;
  text-align: center;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: #fff;
}

.hero-btn {
  color: #fff;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  padding: 12px 36px;
  border: 1px solid #fff;
  text-decoration: none;
}

.hero-btn:hover {
  background: var(--clr-red-dark);
  border: 1px solid var(--clr-red-dark);
  transition: 0.7s;
}

/* mobile secreen */
@media (max-width: 750px) {
  nav {
    padding: 6%;
  }
  nav a h2 {
    font-size: 20px;
    padding-top: 5px;
  }

  .nav-links {
    background-color: #f43c36;
    height: 100vh;
    width: 200px;
    position: absolute;
    top: 0;
    right: -200px;
    text-align: right;
    z-index: 5;
    transition: 0.5s;
  }
  .nav-links ul {
    text-align: left;
  }

  .nav-links ul li {
    display: block;
  }

  .text-box {
    width: 100%;
  }

  .text-box h1 {
    font-size: 40px;
  }

  nav .bi {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }

  .bi-x-lg {
    margin: 20px;
  }
  .hero-btn-mobile {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    color: #f43c36;
    border-radius: 10px;
    transition: 0.5s;
  }
  .hero-btn-mobile:hover {
    background-color: #f43c36;
    color: #fff;
  }

  .nav-links ul {
    padding: 30px;
  }
}

/* Features Section */

.features {
  background-color: #f9fbfd;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  /* justify-content: space-between; */
}

.feature-col {
  flex-basis: 31%;
  /* border-radius: 10px; */
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  border: 0.5px solid #efeeee;
  cursor: pointer;
}

.feature-col:hover {
  background-color: #fff;
  transform: scale(1.05);
  border: 0.5px solid #fff;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

@media screen and (max-width: 750px) {
  .features {
    padding: 100px 50px;
  }

  .row {
    flex-direction: column;
  }
}

/* Blog Section */

.blog {
  background-color: #fff;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 100px;
  padding-bottom: 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.blog-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  text-align: left;
  transition: 0.5s;
  cursor: pointer;
}

.blog-col:hover {
  transform: scale(1.02);
}

.blog-col img {
  width: 100%;
  transition: 0.5s;
}

.blog-col img:hover {
  transform: scale(1.02);
  opacity: 0.95;
}

h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 15px;
  color: #0f2137;
}

a {
  color: #3183ff;
  text-decoration: none;
  cursor: pointer;
}
a p {
  display: inline;
  font-weight: 400;
  color: #3183ff;
  transition: 0.5s;
}
a p:hover {
  margin-right: 10px;
}

@media screen and (max-width: 750px) {
  .blog {
    padding: 100px 50px 50px 50px;
  }

  .row {
    flex-direction: column;
  }

  .blog-col {
    text-align: center;
  }
}

/* FAQ */

.faq {
  background-color: #fafbfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 100px;
}

.section-center {
  max-width: 750px;
}
.question {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.question-title p {
  margin-bottom: 0;
  letter-spacing: var(--spacing);
  color: #0f2137;
  font-weight: 600;
  line-height: 2;
}
.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-gold);
  transition: var(--transition);
}
.question-btn:hover {
  transform: rotate(90deg);
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}
.question-text p {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 0;
  font-weight: 500;
  color: #6d7279;
}
/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}

.btn-question {
  padding: 0 20px;
  border-radius: 5px;
  min-height: 50px;
  border: none;
  background-color: #e2e7ec;
  color: #738295;
  font-weight: 600;
  transition: 0.5s;
  cursor: pointer;
}
.btn-question:hover {
  background-color: #f43c36;
  color: #fff;
}

@media screen and (max-width: 750px) {
  .faq {
    padding: 100px 50px 50px 50px;
    text-align: center;
  }
}

/* testimonials-Section  */

.testimonials {
  width: 100%;
  margin: auto;
  padding: 100px;
  padding-bottom: 0;
  text-align: center;
  background: #ffffff;
  display: flex;
}

.testimonial-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 5;
  flex-basis: 44%;
  margin-bottom: 5%;
  text-align: left;
  padding: 25px;
  cursor: pointer;
  line-height: 1.26;
}
.testimonial-col h1,
p {
  line-height: 1.5;
}

.testimonial-col img {
  width: 100%;
}

@media screen and (max-width: 750px) {
  .testimonials {
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 50px;
    text-align: center;
    background: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .testimonial-col {
    text-align: center;
    padding: 0;
  }

  .testimonial-col h1,
  p {
    line-height: 1.5;
  }
  .testimonial-col h1 {
    font-size: 29px;
  }
  .testimonial-col img {
    margin-bottom: 20px;
  }
}

/* NEWSLETTER SECTION */

.newsletter {
  background: #faf7f1;
  padding: 80px;
}

.newsletter-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
}

.box-col {
  padding: 20px;
  flex: 4;
  margin: auto;
}
.box-col h3 {
  font-size: 32px;
  font-weight: 600;
  color: #343d48;
  text-align: left;
}
.box-col p {
  font-size: 15px;
  line-height: 1.86;
  max-width: 500px;
}
.box-col label {
  display: flex;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: rgba(144, 149, 173, 0.9);
  margin-top: 15px;
}
.box-col label input {
  margin-right: 5px;
  width: 5%;
}

.box-email {
  display: flex;
  margin-bottom: 10px;
}
.box-email input {
  border-radius: 5px;
  background-color: #eff3f7;
  padding: 0 20px;
  height: auto;
  width: 100%;
  margin-right: 15px;
  min-height: 60px;
  border: 1px solid;
  border-color: #f3f4f5;
}

.box-email button {
  background-color: #f43c36;
  padding: 0 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.box-email button:hover {
  background-color: #222;
}

@media screen and (max-width: 750px) {
  .newsletter {
    padding: 20px;
  }

  .newsletter-container {
    padding: 10px;
    flex-direction: column;
  }
  .box-col h3 {
    text-align: center;
  }
  .box-col p {
    text-align: center;
  }
  .box-col {
    padding: 0 20px 30px 20px;
  }
}

/* FOOTER SECTION */

.footer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 30px 70px 0 70px;
}

.footer .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-col h4 {
  color: #0f2137;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.68;
  /* letter-spacing: -0.5px; */
}

.footer-col ul li {
  font-size: 15px;
  line-height: 2.5;
  color: rgba(2, 7, 62, 0.8);
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.bottom .footer-bottom-col {
  display: flex;
  text-align: center;
}
.bottom .footer-bottom-col h1 {
  font-size: 20px;
  margin-right: 20px;
  font-weight: bold;
}
.bottom .footer-bottom-col span {
  font-size: 14px;
  line-height: 1.29;
  color: rgba(15, 33, 55, 0.6);
}
.footer hr {
  border: none;
  height: 1px;
  background-color: rgb(215, 211, 211);
}
.bottom .footer-bottom-col ul {
  display: flex;
}
.bottom .footer-bottom-col ul li {
  padding: 0 20px;
  font-size: 16px;
  color: #02073e;
}

@media screen and (max-width: 750px) {
  .footer {
    padding: 20px;
  }
  .footer .top {
    box-sizing: border-box;
    padding: 10px;
    min-width: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .footer-col {
    gap: 10px;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-bottom-col {
    display: flex;
    flex-direction: column;
  }
  .bottom .footer-bottom-col h1 {
    font-size: 15px;
  }
  .bottom .footer-bottom-col span {
    font-size: 14px;
  }

  .bottom .footer-bottom-col ul li {
    padding: 0 10px;
    font-size: 14px;
    color: #02073e;
  }
}
